/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

span {
  display: inline-block;
}

/* CUSTOM PROPS */

:root {
  --player-height: 90px;
  --player-bg-color: grey;
  --app-navbar-width: 200px;
  --navbar-bg-color: #1B1B1B;
}

/* CUSTOM PROPS */

.d-flex {
  display: flex;
} 


/* APP CONTAINER */

#app-container {
  height: calc(100vh - var(--player-height));
  display: flex;
}


/* APP NAVBAR */


#app-navbar section:first-child {
  margin-bottom: 1.5rem;
}


#app-navbar {
  width: var(--app-navbar-width);
  background-color: var(--navbar-bg-color);
  flex-direction: column;
  /* justify-content: space-between; */
  color: white;
}

.app-navbar-top {
  padding: 0 1rem;
}

.app-navbar-bottom {
  padding: 0 1rem;
  margin-top: auto;
}

#app-navbar li {
  margin: 7px 0;
}

.logo-spotify {
  width: 150px;
}

#app-navbar .fa-solid {
  width: 15px;
  margin-right: 1rem;
}

#app-navbar .fa-circle-user {
  font-size: 2rem;
  margin-right: 2rem;
}

.app-navbar-bottom h4 {
  display: inline-block;  
}  

/* APP MAIN */

#app-main {
  flex-grow: 1;
  overflow: auto;
  background-color: rgb(28, 35, 48);
}

#main-content {
  padding: 0 2rem;
}

#main-content h2 {
  margin-bottom: 1rem;
}

#main-top-bar {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: rgba(255, 0, 0, 0.5); */
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.btn {
  background-color: black;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid white;
}

.categories {
  margin-top: 1rem;
}

.categories ul {
  justify-content: center;
}

.categories li {
  padding: 0 5px;
}

#app-main section {
  padding: 2rem 0;
}


/* Grid */


.container {
  padding: 0 10px;
  border-left: 2px dashed red;
  border-right: 2px dashed red;
}

.row {
  margin: 0 -10px;
}

.col {
  padding: 0 5px;
  width: calc(100% / 6);
  border-left: 2px dashed aqua;
  border-right: 2px dashed aqua;
}

.card {
  text-align: center;
}

.card img {
  width: 170px;
}

.figure {
  position: relative;
}

.figure .fa-circle-play {
  display: none;
  z-index: 1;
  font-size: 5rem;
  position: absolute;
  left: 5.5rem;
  top: 3rem;
}

.figure:hover img  {
  filter: brightness(40%);
}

.figure:hover .fa-circle-play {
  display: block;
}


/* APP PLAYER */

footer#app-player {
  background-color: var(--player-bg-color);
  height: var(--player-height);
  justify-content: space-between;
}

.current-song-thumbnail {
  width: 80px;
}

.current-song {
  align-items: center;
}

.current-song .fa-regular {
  margin: 0 7px;
}

.wrapper-current-song-info {
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 1rem;
  margin-right: 3rem;

}

.player {
  border: 2px solid red;
}
.player-right-options {
  border: 2px solid red;
}
