/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style-type: none;
}

/* CUSTOM PROPS */

:root {
  --player-height: 90px;
  --player-bg-color: grey;
  --app-navbar-width: 200px;
  --navbar-bg-color: #1B1B1B;
}

/* CUSTOM PROPS */

.d-flex {
  display: flex;
} 


/* APP CONTAINER */

#app-container {
  height: calc(100vh - var(--player-height));
  display: flex;
}


/* APP NAVBAR */

#app-navbar {
  width: var(--app-navbar-width);
  background-color: var(--navbar-bg-color);
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.app-navbar-top {
  border: 2px dashed red;
}


.app-navbar-bottom {
  border: 2px dashed red;
}

.logo-spotify {
  width: 150px;
}


/* APP MAIN */

#app-main {
  flex-grow: 1;
  border: 4px dashed green;
  overflow: auto;
}

#main-content {
  padding: 0 2rem;
}

#main-content h2 {
  margin-bottom: 1rem;
}

#main-top-bar {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: flex-end;
  align-items: center;
}

.button {
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 20px;
}

.categories {
  margin-top: 1rem;
}

.categories ul {
  justify-content: center;
}

.categories li {
  padding: 0 5px;
}

section {
  padding: 2rem 0;
}


/* Grid */


.container {
  padding: 0 10px;
  border-left: 2px dashed red;
  border-right: 2px dashed red;
}

.row {
  margin: 0 -10px;
}

.col {
  padding: 0 5px;
}

.card {
  border-right: 2px dashed aqua;
}

.card img {
  width: 160px;
}

























/* APP PLAYER */

#app-player {
  background-color: var(--player-bg-color);
  height: var(--player-height);
  justify-content: space-between;
}

.current-song-thumbnail {
  width: 80px;
}

.current-song {
  border: 2px solid red;
}
.player {
  border: 2px solid red;
}
.player-right-options {
  border: 2px solid red;
}

/* debug */



#fare-griglia figure {
  margin: 0 10px;
}

#fare-griglia figcaption {
  width: fit-content;
  text-align: center;
}

#fare-griglia img {
  width: 150px;
}
